{% load socialaccount %}
{% if user.is_authenticated %}
    <h3>Welcome {{ user.socialaccount_set.all.0.extra_data.name }} !!!</h3>
    <br /><br />
    <a href="{% url 'account_logout' %}" class="btn btn-danger">Logout</a>
    <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="Profile Picture" class="profile-picture">
    <p>Last login: {{ user.socialaccount_set.all.0.last_login}}</p>
{% endif %}
<p>Places</p>
<ul>
    {% for place in places %}
    <li>
        <p>{{ place.name }}</p>
        <p>{{ place.date_added|date:'M d, Y H:i' }}</p>
        <p><a href = "{% url 'rp_base:edit_place' place.id %}">Edit</a></p>
        <p><a href = "{% url 'rp_base:delete_place' place.id %}">Delete</a></p>
    </li>
    {% empty %}
    <li><p>No places added yet!</p></li>
    {% endfor %}
</ul>
<a href = "{% url 'rp_base:new_place' %}">Add new place</a>